<section class="row">
  <form action="/game" method="get" accept-charset="utf-8">
    <input type="text" value="" name="name" id="name" placeholder="Name of your hero...."/>
    <button type=submit>Go!</button>
  </form>
</section>
