/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.board {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.col {
  flex: 0 0 10%;
  height: 50px;
  width: 50px;
  border: solid 1px #eeeeee;
  padding: 2px;
}

.wall-tile {
  background-color: #111111;
  border: solid 1px #111111;
}

.my-tile{
  background-color: #2ECC40;
}

.enemy-tile{
  background-color: #0074D9;
}

.dead-tile{
  background-color: #FF4136;
}

.player-names {
  z-index: 1000;
}

.empty-tile{
  background-color: white;
}

